.advantages {
  position: relative;
  padding-top: 95px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    height: 1177px;

    background-image: url("../img/bg-polygon2.svg");
    background-repeat: no-repeat;
    background-position: left calc(50% - 130px) top -30px;

    @media (max-width: $tablet-width) {
      top: 360px;
      height: 605px;
      background-image: url("../img/bg-polygon2-tablet.svg");
      background-position: center bottom;
    }
  }

  @media (max-width: $tablet-width) {
    padding-top: 40px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 25px;
  }
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-right: -15px;
  margin-bottom: 0;
  margin-left: -15px;
  padding-left: 0;

  list-style: none;
}

.advantages__item {
  display: flex;
  width: 50%;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;

  @media (max-width: $mobile-width) {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
