.button {
  display: block;
  min-width: 180px;
  padding-top: 13px;
  padding-right: 15px;
  padding-bottom: 14px;
  padding-left: 15px;

  @include font(14, 16);
  font-weight: 700;
  font-family: $roboto-condensed;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: $white;

  background-color: transparent;
  border: 1px solid $white;
  border-radius: 5px;
  cursor: pointer;

  @include interactive();

  &_theme_fill {
    min-width: 407px;
    padding-top: 17px;
    padding-bottom: 18px;

    @include font(16, 19);

    background-color: $blue;
    border-color: $blue;

    @media (max-width: $tablet-width) {
      min-width: 379px;
    }

    @media (max-width: $mobile-width) {
      min-width: 287px;
    }
  }

  &_theme_blue {
    color: $blue;
    border-color: $blue;
  }

}
