.container {
  max-width: 1460px;
  margin: 0 auto;
  padding-left: $desktop-padding;
  padding-right: $desktop-padding;

  @media (max-width: $mobile-width) {
    padding-left: $mobile-padding;
    padding-right: $mobile-padding;
  }

  &_narrow {
    @media (min-width: $desktop-width-only) {
      max-width: 1220px;
    }
  }
}
