.feedback {
  padding-top: 95px;
  padding-bottom: 95px;
  color: $white;

  background-color: $blue;

  @media (max-width: $tablet-width) {
    padding-top: 80px;
    padding-bottom: 90px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 30px;
    padding-bottom: 25px;
  }

  &_modal {
    padding-top: 30px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;

    h2 {
      margin-bottom: 15px;

      @include font(28, 39);
    }

    p {
      padding-right: 25px;
    }

    form {
      margin-top: 15px;
    }

    .feedback__item_half-width {
      width: 100%;
      padding-top: 15px;
      padding-bottom: 15px;
    }

    label[for="modal-agreement"] {
      padding-right: 15px;

      &::before {
        border-color: $white;
        left: 0;
      }

      &::after {
        left: 6px;
      }
    }

    textarea[name="modal-message"] {
      height: 104px;
    }

    .feedback__button {
      margin-bottom: 10px;
    }
  }
}

.feedback__wrapper {
  position: relative;
  margin-right: -15px;
  padding-left: 50%;

  @media (max-width: $tablet-width) {
    margin-right: 0;
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 0;
    padding-right: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -5%;
    width: 50%;

    background-image: url("../img/paper_airplane@1x.png");
    background-repeat: no-repeat;
    background-position: center 35%;
    background-size: 86%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/paper_airplane@2x.png");
    }

    @media (max-width: $tablet-width) {
      display: none;
    }
  }
}

.feedback h2 {
  margin-top: 0;
  margin-bottom: 5px;
  padding-left: 15px;

  @include font(36, 51);
  font-weight: 400;
  font-family: $roboto-condensed;

  @media (max-width: $tablet-width) {
    @include font(32, 45);
    margin-bottom: 15px;
  }

  @media (max-width: $mobile-width) {
    @include font(28, 39);
    padding-left: 0;
  }
}

.feedback p {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 15px;

  @media (max-width: $mobile-width) {
    padding-left: 0;
  }
}

.feedback form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 30px;

  @media (max-width: $tablet-width) {
    margin-top: 35px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 10px;
  }
}

.feedback__item {
  width: 100%;

  padding-top: 20px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-left: 15px;

  @media (max-width: $mobile-width) {
    padding-top: 15px;
    padding-right: 0;
    padding-bottom: 15px;
    padding-left: 0;
  }

  &_half-width {
    width: 50%;

    @media (max-width: $mobile-width) {
      width: 100%;
    }
  }
}

.feedback__agreement {
  order: 1;
}

.feedback__item input:not([type="checkbox"]) {
  width: 100%;
  height: 50px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;

  font: inherit;
  color: $white;
  background-color: rgba($white, 0.1);
  border: 1px solid transparent;

  &::-webkit-input-placeholder {
    color: $white;
  }

  &::-moz-placeholder {
    color: $white;
  }

  &:-ms-input-placeholder {
    color: $white;
  }

  &:hover {
    border-color: rgba($white, 0.5);
    outline: none;
  }

  &:focus {
    border-color: $white;
  }
}

.feedback__item textarea {
  width: 100%;
  height: 154px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  resize: none;
  font: inherit;
  color: $white;
  background-color: rgba($white, 0.1);
  border: 1px solid transparent;

  &::-webkit-input-placeholder {
    color: $white;
  }

  &::-moz-placeholder {
    color: $white;
  }

  &:-ms-input-placeholder {
    color: $white;
  }

  &:hover {
    border-color: rgba($white, 0.5);
    outline: none;
  }

  &:focus {
    border-color: $white;
  }

  @media (max-width: $tablet-width) {
    height: 160px;
  }

  @media (max-width: $mobile-width) {
    height: 104px;
  }
}

.feedback__agreement label {
  position: relative;
  display: block;
  padding-left: 45px;
  padding-top: 10px;

  @include font(14, 16);

  background-color: transparent;
  cursor: pointer;

  @media (max-width: $mobile-width) {
    padding-left: 30px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    align-self: flex-start;
    width: 17px;
    height: 16px;
    border: 1px solid transparent;

    @media (max-width: $tablet-width) {
      border-color: $white;
    }

    @media (max-width: $mobile-width) {
      left: 0;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 13px;
    left: 16px;
    display: none;

    @include size(5, 7);
    border: 1px solid white;
    border-left: none;
    border-top: none;
    transform: rotate(45deg);

    @media (max-width: $mobile-width) {
      left: 6px;
    }
  }

  &:hover {
    &::before {
      border-color: rgba($white, 0.5);
    }
  }
}

.feedback__agreement input[type="checkbox"]:checked ~ label::after {
  display: block;
}

.feedback__agreement input[type="checkbox"]:focus ~ label::before {
  border-color: $white;

  @media (max-width: $tablet-width) {
    border-color: rgba($white, 0.5);
  }
}

.feedback__button {
  margin-left: 15px;
  margin-right: 15px;
  flex-grow: 1;

  @media (max-width: $mobile-width) {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
