.footer {
  position: relative;
  padding-top: 65px;
  padding-bottom: 0px;
  @include font(15, 25);
  color: rgba($gable-green, 0.5);
  background-color: $white;

  &::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 52px;
    left: 0;

    height: 1px;
    background-color: rgba($corduroy, 0.2);

    @media (max-width: $tablet-width) {
       display: none;
    }
  }

  @media (max-width: $tablet-width) {
    padding-top: 0;
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  margin-bottom: 50px;

  &::before {
    content: '';
    position: absolute;
    right: $tablet-padding * -1;
    bottom: 0;
    left: $tablet-padding * -1;

    display: none;

    height: 1px;
    background-color: rgba($corduroy, 0.2);

    @media (max-width: $tablet-width) {
       display: block;
    }

    @media (max-width: $mobile-width) {
      right: $mobile-padding * -1;
      left: $mobile-padding * -1;
    }
  }

  @media (max-width: $tablet-width) {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
    padding-top: 20px;
    padding-bottom: 25px;
  }

  @media (max-width: $mobile-width) {
    flex-wrap: wrap;
    align-items: center;
    margin-bottom:0;
    padding-top: 45px;
    padding-bottom: 40px;
  }
}

.footer__logo {
  margin-bottom: auto;
  color: $gray-green;

  @include interactive();

  @media (max-width: $mobile-width) {
    margin-right: auto;
    margin-bottom: 75px;
    margin-left: auto;
  }
}

.footer__social {
  width: 100%;

  @media (max-width: $tablet-width) {
    width: auto;
    max-width: 25%;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    justify-content: center;
    max-width: none;
  }
}

.footer__nav {
  width: 45%;
  margin-left: auto;

  @media (max-width: $tablet-width) {
    align-self: flex-start;
    width: 50%;
  }

  @media (max-width: $mobile-width) {
    position: relative;
     width: 100%;

     &::before {
      content: '';
      position: absolute;
      right: $mobile-padding * -1;
      bottom: 0;
      left: $mobile-padding * -1;;

      height: 1px;
      background-color: rgba($corduroy, 0.2);
    }
  }
}

.footer__nav li {
  @media (max-width: $tablet-width) {
    &:nth-child(even) {
      order: 2;
    }
  }
}

.footer__title {
  margin-top: 0;
  margin-bottom: 25px;

  @include font(15, 16);
  font-weight: 400;
  font-family: $roboto-condensed;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: $gable-green;

  @media (max-width: $mobile-width) {
    margin-top: 28px;
    margin-right: auto;
    margin-bottom: 28px;
  }
}

.footer__toggle {
  display: none;

  @media (max-width: $mobile-width) {
    display: flex;
    align-items: center;
    justify-content: center;
    @include size(50, 72);
    margin-right: $mobile-padding * -1;

    background-color: transparent;
    border: none;
    cursor: pointer;

    @include interactive();
  }
}

.footer__info {
  @media (max-width: $mobile-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &_closed {
      .footer__toggle-icon_close {
        display:none;
      }

      .footer__list {
        display:none;
      }
    }

    &_opened {
      .footer__toggle-icon_open {
        display:none;
      }

      .footer__list {
        display:block;
      }
    }

    &_nojs {
      .footer__toggle {
        display: none;
      }

      .footer__list {
        display: block;
      }
    }
  }

}


.footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 60px;
  padding-left: 0;

  list-style: none;

  @media (max-width: $tablet-width) {
    margin-bottom: 35px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-bottom: 30px;
  }
}

.footer__item {
  width: 100%;

  @media (max-width: $mobile-width) {
    padding-right: 10px;
  }

  &_half-width {
    @media (min-width: $desktop-width-only) {
       width: 50%;
    }
  }
}

.footer__link {
  color: rgba($gable-green, 0.5);
  @include interactive();
}

.footer__contacts {
  width: 25%;
  padding-left: 18px;

  @media (max-width: $tablet-width) {
    align-self: flex-start;
    width: 50%;
  }

  @media (max-width: $mobile-width) {
     width: 100%;
     padding-left: 0;
  }
}

.footer__copyright {
  width: 455 / 1410 * 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  @include font(13, 24);
  letter-spacing: 0.04em;

  text-transform: uppercase;

  @media (max-width: $tablet-width) {
    position: absolute;
    top: 20px;
    left: 50%;
    width: auto;

    transform: translateX(-25%);

    p:first-child {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    top: 110px;
    left: 0;
    width: 100%;
    transform: none;
  }
}

.footer__copyright p {
  margin-top: 0;
  margin-bottom: 0;

  @media (max-width: $mobile-width) {
    margin-left: auto;
    margin-right: auto;
  }
}

.footer__privacy {
  width: 811 / 1410 * 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  @include font(13, 24);
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @media (max-width: $tablet-width) {
    position: relative;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 22px;
    padding-bottom: 22px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 25px;
    padding-bottom: 0;

    a {
      margin-right: auto;
      margin-bottom: 25px;
      margin-left: auto;
    }
  }

  &::before {
    @media (max-width: $tablet-width) {
      content: '';
      position: absolute;
      right: $tablet-padding * -1;
      top: 0;
      left: $tablet-padding * -1;;

      height: 1px;
      background-color: rgba($corduroy, 0.2);
    }

    @media (max-width: $mobile-width) {
      right: $mobile-padding * -1;
      left: $mobile-padding * -1;
    }
  }

}
