.footer {
  position: relative;
  padding-top: 65px;
  padding-bottom: 0;

  @include font(15, 25);
  color: rgba($gable-green, 0.5);
  background-color: $white;

  @media (max-width: $tablet-width) {
    padding-top: 0;
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  margin-bottom: 50px;

  &::before {
    content: "";
    position: absolute;
    right: $tablet-padding * -1;
    bottom: 0;
    left: $tablet-padding * -1;

    display: none;

    height: 1px;
    background-color: rgba($corduroy, 0.2);

    @media (max-width: $tablet-width) {
      display: block;
    }

    @media (max-width: $mobile-width) {
      right: $mobile-padding * -1;
      left: $mobile-padding * -1;
    }
  }

  @media (max-width: $tablet-width) {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
    padding-top: 20px;
    padding-bottom: 15px;
  }

  @media (max-width: $mobile-width) {
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0;
    padding-top: 45px;
    padding-bottom: 40px;
  }
}

.footer__logo {
  margin-bottom: auto;


  @include interactive();

  @media (max-width: $mobile-width) {
    margin-right: auto;
    margin-bottom: 70px;
    margin-left: auto;
  }
}

.footer__social {
  width: 100%;

  @media (max-width: $tablet-width) {
    width: auto;
    max-width: 25%;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    justify-content: center;
    max-width: none;
  }
}

.footer__nav {
  width: 45%;
  margin-left: auto;

  @media (max-width: $tablet-width) {
    align-self: flex-start;
    width: 50%;
  }

  @media (max-width: $mobile-width) {
    position: relative;
    width: 100%;

    &::before {
      content: "";
      position: absolute;
      right: $mobile-padding * -1;
      bottom: 0;
      left: $mobile-padding * -1;

      height: 1px;
      background-color: rgba($corduroy, 0.2);
    }
  }
}

.footer__nav li {
  @media (max-width: $tablet-width) {
    &:nth-child(even) {
      order: 2;
    }
  }
}

.footer__toggle-wrapper {
  @media (max-width: $mobile-width) {
    display: flex;
    width: 100%;

    @include interactive();
    cursor: pointer;
  }
}

.footer__title {
  margin-top: 0;
  margin-bottom: 25px;

  @include font(15, 16);
  font-weight: 400;
  font-family: $roboto-condensed;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: $gable-green;

  @media (max-width: $mobile-width) {
    margin-right: auto;
    margin-bottom: 28px;
    margin-top: 28px;

  }
}

.footer__toggle {
  display: none;

  @media (max-width: $mobile-width) {
    display: flex;
    align-items: center;
    justify-content: center;

    @include size(50, 72);
    margin-right: $mobile-padding * -1;

    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

.footer__info {
  @media (max-width: $mobile-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .footer__toggle-icon_close {
      display: block;
    }

    .footer__toggle-icon_open {
      display: none;
    }

    .footer__list {
      display: block;
    }


    &_closed {
      .footer__toggle-icon_open {
        display: block;
      }

    .footer__toggle-icon_close {
      display: none;
    }

      .footer__list {
        display: none;
      }
    }

    &_nojs {
      .footer__toggle {
        display: none;
      }

      .footer__list {
        display: block;
      }
    }
  }
}


.footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 55px;
  padding-left: 0;

  list-style: none;

  @media (max-width: $tablet-width) {
    margin-bottom: 35px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-bottom: 30px;
  }
}

.footer__item {
  width: 100%;

  @media (max-width: $mobile-width) {
    padding-right: 10px;
  }

  &_half-width {
    @media (min-width: $desktop-width-only) {
      padding-right: 10px;
      width: 50%;
    }
  }
}

.footer__link {
  color: rgba($gable-green, 0.5);

  @include interactive();
}

.footer__contacts {
  width: 25%;
  padding-left: 18px;

  @media (max-width: $tablet-width) {
    align-self: flex-start;
    width: 50%;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding-left: 0;
  }
}

.footer__bottom {
  padding-top: 15px;
  padding-bottom: 15px;

  @include font(13, 24);
  letter-spacing: 0.04em;

  text-transform: uppercase;
  border-top: 1px solid rgba($corduroy, 0.2);

  @media (max-width: $tablet-width) {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 0;
  }
}

.footer__bottom-inner {
  display: flex;
  justify-content: space-between;
  min-width: 816 / 1410 * 100%;

  @media (max-width: $tablet-width) {
    justify-content: flex-start;

    p:first-child {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    min-width: 100%;
  }
}

.footer__bottom-inner p {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  padding-right: 20px;

  @media (max-width: $mobile-width) {
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
  }
}

.footer__copyright {
  @media (max-width: $tablet-width) {
    position: absolute;
    top: 35px;
    left: 50%;
    width: auto;

    transform: translateX(-25%);
  }

  @media (max-width: $mobile-width) {
    top: 125px;
    left: 0;
    width: 100%;
    transform: none;
    text-align: center;
  }
}

.footer__privacy {
  @include font(13, 24);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-left: auto;

  @media (max-width: $tablet-width) {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  @media (max-width: $mobile-width) {
    padding-top: 0;
    padding-bottom: 25px;
    margin-right: auto;
    margin-left: auto;
  }
}
