.footer {
  position: relative;
  padding-top: 65px;
  padding-bottom: 0px;
  @include font(15, 25);
  color: rgba($gable-green, 0.5);
  background-color: $white;

  &::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 52px;
    left: 0;

    height: 1px;
    background-color: rgba($corduroy, 0.2);

    @media (max-width: $tablet-width) {
       display: none;
    }
  }

  @media (max-width: $tablet-width) {
    padding-top: 0;
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  margin-bottom: 50px;

  @media (max-width: $tablet-width) {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
    padding-top: 20px;
    padding-bottom: 25px;

    &::before {
      content: '';
      position: absolute;
      right: $tablet-padding * -1;
      bottom: 0;
      left: $tablet-padding * -1;;

      height: 1px;
      background-color: rgba($corduroy, 0.2);
    }
  }
}

.footer__logo {
  margin-bottom: auto;
  color: $gray-green;

  @include interactive();
}

.footer__social {
  width: 100%;

  @media (max-width: $tablet-width) {
    width: auto;
    max-width: 25%;
  }
}

.footer__nav {
  width: 45%;
  margin-left: auto;

  @media (max-width: $tablet-width) {
    align-self: flex-start;
    width: 50%;
  }
}

.footer__nav li {
  @media (max-width: $tablet-width) {
    &:nth-child(even) {
      order: 2;
    }
  }
}

.footer__title {
  margin-top: 0;
  margin-bottom: 25px;

  @include font(15, 16);
  font-weight: 400;
  font-family: $roboto-condensed;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: $gable-green;
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 60px;
  padding-left: 0;

  list-style: none;

  @media (max-width: $tablet-width) {
     margin-bottom: 35px;
  }
}

.footer__item {
  width: 100%;

  &_half-width {
    @media (min-width: $desktop-width-only) {
       width: 50%;
    }
  }
}

.footer__link {
  color: rgba($gable-green, 0.5);
  @include interactive();
}

.footer__contacts {
  width: 25%;
  padding-left: 18px;

  @media (max-width: $tablet-width) {
    align-self: flex-start;
    width: 50%;
  }
}

.footer__copyright {
  width: 455 / 1410 * 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  @include font(13, 24);
  letter-spacing: 0.04em;

  text-transform: uppercase;

  @media (max-width: $tablet-width) {
    position: absolute;
    top: 20px;
    left: 50%;
    width: auto;

    transform: translateX(-25%);

    p:first-child {
      display: none;
    }
  }
}

.footer__copyright p {
  margin-top: 0;
  margin-bottom: 0;
}

.footer__privacy {
  width: 811 / 1410 * 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  @include font(13, 24);
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @media (max-width: $tablet-width) {
    position: relative;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 22px;
    padding-bottom: 22px;

    &::before {
      content: '';
      position: absolute;
      right: $tablet-padding * -1;
      top: 0;
      left: $tablet-padding * -1;;

      height: 1px;
      background-color: rgba($corduroy, 0.2);
    }
  }
}
