.header {
  position: relative;
  z-index: 1;
  padding-top: 33px;
  padding-bottom: 29px;

  @media (max-width: $tablet-width) {
    padding-top: 20px;
    padding-bottom: 22px;
  }
}

.header__logo-image {
  @media (max-width: $mobil-width) {
    @include size(38, 38);
  }
}

.header__logo p {
  @media (max-width: $mobil-width) {
    display: none;
  }
}


.header__nav {
  margin-left: auto;

  @media (max-width: $mobil-width) {
     padding-bottom: 10px;
  }

}

.header__toggle {
  position: relative;
  @include size(47, 23);

  background-color: transparent;
  border: none;

  @include interactive();

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 5px;
    @include size(37, 1);

    background-color: $white;
  }

  &::after {
    top: 18px;
  }

}

.header__contacts {
  display: flex;
  align-items: center;
  width: 67.5%;
  margin-left: auto;

  @media (max-width: $tablet-width) {
    width: auto;
    margin-left: 0;
  }

  @media (max-width: $mobil-width) {
     padding-bottom: 10px;
  }
}

.header__link {
  display: flex;
  align-items: center;
  margin-left: 65 / 660 * 100%;
  line-height: 22px;
  color: $white;

  @include interactive();

  &:first-child {
    @media (min-width: $desktop-width-only) {
       margin-left: auto;
    }
  }

  @media (max-width: $tablet-width) {
    margin-left: 40px;
  }

  @media (max-width: $mobil-width) {
    margin-left: 30px;
  }
}

.header__link span {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.header__icon {
  margin-right: 12px;

  @media (max-width: $tablet-width) {
    margin-right: 0;
    transform: scale(1.33);
  }
}

.header__button {
  margin-left: 35 / 660 * 100%;

  @media (max-width: $tablet-width) {
    display: none;
  }
}
