.header {
  padding-top: 33px;
  padding-bottom: 29px;

  color: $white;


  background-color: $gable-green;

  @media (max-width: $tablet-width) {
    padding-top: 20px;
    padding-bottom: 22px;
  }
}

.header__wrapper {
  position: relative;
  z-index: 1;
}

.header__logo {
  margin-right: 15px;

  @media (max-width: $mobile-width) {
    width: 38px;
    height: 38px;
  }
}

.header__logo-icon {
  @media (max-width: $mobile-width) {
    height: 38px;

    .header__logo-text {
      display: none;
    }
  }
}


.header__nav {
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $tablet-width) {
    padding-bottom: 10px;
    margin-right: 0;
  }
}

.header__toggle {
  position: relative;

  @include size(47, 23);

  background-color: transparent;
  border: none;

  @include interactive();

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 5px;

    @include size(37, 1);

    background-color: $white;
  }

  &::after {
    top: 18px;
  }
}

.header__contacts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 45%;
  margin-left: auto;

  @media (max-width: $tablet-width) {
    width: auto;
    margin-left: 0;
    padding-bottom: 10px;
  }
}

.header__link {
  display: flex;
  align-items: center;
  margin-left: 65 / 440 * 100%;
  line-height: 22px;
  color: $white;

  @include interactive();

  &:first-child {
    @media (min-width: $desktop-width-only) {
      margin-left: auto;
    }
  }

  @media (max-width: $tablet-width) {
    margin-left: 40px;
  }

  @media (max-width: $mobile-width) {
    margin-left: 30px;
  }
}

.header__link span {
  @media (max-width: $tablet-width) {
    @include visually-hidden();
  }
}

.header__icon {
  margin-right: 12px;

  @media (max-width: $tablet-width) {
    margin-right: 0;
    transform: scale(1.33);
  }
}

.header__button {
  margin-left: 45px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}
