@keyframes opening {
  0% {
    opacity: 0;
    transform:  scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;

  display: none;

  background: rgba($black, 0.5);

  &_show {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
  }
}

.modal__inner {
  position: relative;
  width: 490px;
  margin-top: auto;
  margin-bottom: auto;

  animation-name: opening;
  animation-duration: $animation-speed;
}

.modal__close {
  position: absolute;
  top: 15px;
  right: 15px;

  width: 30px;
  height: 30px;

  font-size: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;

  @include interactive();

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 14px;
    left: 4px;

    width: 23px;
    height: 2px;

    background-color: $white;

    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
