.products {
  padding-top: 90px;
  padding-bottom: 110px;
  color: $white;
  background-color: $gable-green;

  @media (max-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 55px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 50px;
  }
}

.products h2 {
  margin-top: 0;
  margin-bottom: 35px;

  @include font(36, 51);
  font-weight: 400;
  font-family: $roboto-condensed;

  @media (max-width: $tablet-width) {
    @include font(32, 45);
    margin-bottom: 25px;
  }

  @media (max-width: $mobile-width) {
    @include font(28, 39);
    margin-bottom: 25px;
    padding-left: 10px;
  }
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-right: -15px;
  margin-bottom: 0;
  margin-left: -15px;
  padding-left: 0;

  list-style: none;
}

.products__item {
  display: flex;
  width: 100 / 3 * 1%;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;

  @media (max-width: $tablet-width) {
    width: 100%;
    padding-top: 23px;
    padding-bottom: 23px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.products__link {
  position: relative;
  width: 100%;

  @include interactive();

  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;

    @include square(63);

    background-color: $blue;
  }

  &::after {
    content: "";
    position: absolute;
    right: 30px;
    bottom: 30px;
    z-index: 1;

    @include square(6);

    border: 1px solid $white;
    border-left: none;
    border-bottom: none;
    transform: rotate(45deg);
  }
}

.products__link img {
  display: block;
  width: 100%;
  opacity: 0.2;
}

.products__link h3 {
  position: absolute;
  top: 50px;
  left: 45px;
  width: 160px;
  margin-top: 0;
  margin-bottom: 0;

  @include font(20, 30);
  font-weight: 400;
  font-family: $roboto-condensed;
  color: $white;

  @media (max-width: $tablet-width) {
    top: 40px;
  }

  @media (max-width: $mobile-width) {
    top: 20px;
    left: 35px;
  }
}
