@mixin font($font-size, $line-height) {
  font-size: $font-size * 1px;
  line-height: $line-height * 1px;
}

@mixin size($width, $height) {
  width: $width * 1px;
  height: $height * 1px;
}

@mixin square($value) {
  width: $value * 1px;
  height: $value * 1px;
}

@mixin interactive() {
  &:hover,
  &:focus {
    opacity: 0.8;
    outline: none;
  }

  &:active {
    opacity: 0.6;
  }
}

@mixin visually-hidden() {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}
