$black: #000000;
$white: #ffffff;

//оттенки  серого
$gray-light: #f2f2f2; // окружности в углах треугольников
$gray: #ebebeb; // обводка в преимуществах, треугольники
$gray-dark: #cdcdcd; // иконки соц.сетей
$gray-darken: #c4c4c4; // значки + и - в подвале мобильной версии
$gray-darkest: #666666; // текст

//другие цвета
$blue: #00b2ff; // иконки в шапке, лого, кнопка, текст, обводки

//$slate-gray: #788891; // серый текст в лого
$corduroy: #626962; // разделители в футере
$gable-green: #1b2d37; // текст в футере, темный фон
//$gray-green: #203c42; // текст лого в футере

// Переменные для адаптивной сетки
$desktop-width-only: 1024px;
$tablet-width: 1023px;
$mobile-width: 767px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$mobile-padding: 15px;
$tablet-padding: 25px;
$desktop-padding: 25px;

// шрифты
$pt-mono: "PT Mono", "Courier New", monospace;
$roboto-condensed: "Roboto Condensed", "Arial", sans-serif;

// анимация
$animation-speed: 0.3s;
