$black: #000000;
$white: #ffffff;

//оттенки  серого
$gray-light: #f2f2f2; // окружности в углах треугольников
$gray: #ebebeb; // обводка в преимуществах, треугольники
$gray-dark: #cdcdcd; // иконки соц.сетей
$gray-darken: #c4c4c4; // значки + и - в подвале мобильной версии
$gray-darkest: #666666; // текст

//другие цвета
$blue: #00B2FF; // иконки в шапке, лого, кнопка, текст, обводки

$slate-gray: #788891; // серый текст в лого
$corduroy: #626962; // разделители в футере
$gable-green: #1B2D37; // текст в футере, темный фон

// Переменные для адаптивной сетки
$tablet-width: 1023px;
$mobil-width: 767px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$mobil-padding: 15px;
$tablet-padding: 25px;
$desktop-padding: 35px;

// шрифты
$pt-mono: "PT Mono", "Courier New", monospace;
$roboto: "Roboto", "Arial", sans-serif;
$roboto-condensed: "Roboto Condensed", "Arial", sans-serif;

